*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-image: url(./images/concrete_wall.png);
  color: #f8f8f8;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

.intro-btn {
  font-family: "Inter", sans-serif;
  display: block;
  margin: 0 auto;
  min-height: 7rem;
  font-size: 2em;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  color: #31363a;
}

.action-line {
  min-height: 5rem;
  background: #f8f8f8;
  color: 31363a;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.action-line__btn {
  border: none;
  background: none;
  text-transform: uppercase;
  color: #31363a;
  font-size: 1.5rem;
  padding: 1rem;
}

.action-line__btn:hover {
  background: #31363a;
  color: #f8f8f8;
}

/*game*/
.game__header {
  text-align: center;
  margin: 1rem 0;
}

.game__header--guessing-color {
  font-size: 2em;
}

.game__header--title {
  font-size: 3.5em;
  text-transform: uppercase;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin: 1rem 0;
  align-self: center;
}

.box {
  min-width: 180px;
  min-height: 180px;
  border-radius: 20%;
}

@media only screen and (max-width: 576px) {
  .game__header--title {
    font-size: 1.5rem;
  }
  .game__header--guessing-color {
    font-size: 2rem;
  }
  .box-container {
    gap: 1.1rem;
  }
  .box {
    min-width: 8rem;
    min-height: 8rem;
  }
  .action-line {
    min-height: 3rem;
  }
  .action-line__btn {
    font-size: 1rem;
  }
}
